<!DOCTYPE html>
<html lang="en">

<head>


{% extends 'Music/base.html' %}

</head>
{% block body %}
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-2 col-md-6 mr-auto">
                <h4 class="display-4 lead text-info">LOG IN :</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-info btn-sm">Log in</button>
                </form>
            </div>

                </div>
            </div>
    </body>
{% endblock %}
</html>