<!DOCTYPE html>
<html lang="en">
{% extends 'Music/base.html' %}
{% block title %}Details{% endblock %}
{% block body %}

<body>
<div class="row">
    <div class="col-md-3 col-sm-6 ml-2 mt-2">
        <div class="card m-2 bg-dark text-white">
            <div class="card-body text-center">
                <h6 class="lead text-card-header text-danger">{{ album.artist }}<br>{{ album.album_name }}</h6>
                <img class="img-responsive img-circle" src="{{ album.album_logo }}" width="120" breadth="120">
                <h6 class="lead text-card-footer">Genre : {{ album.genre }}</h6>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-6 mt-2">
        <div class="card m-2 bg-dark text-white">
            <div class="card-body text-left">
            <dl>
                <dt>JUKEBOX :
                <div class="pt-2 ml-auto">
                <a class="btn btn-outline-success bg-dark" href="{% url 'Music:add-song' album.id %}"> Add Song</a>
                    <h3>&nbsp;</h3>
                </div></dt>
                {% for song in album.song_set.all %}
                    <dd><a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-play-circle"></i> {{ song.song_name }}</a></dd>
                {% endfor %}
            </dl>

            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>