<!DOCTYPE html>
<html lang="en">
{% extends 'Music/base.html' %}
{% block body %}

<header>
    {% if all_albums %}
    <meta charset="UTF-8">
    <h1 class="display-4 ml-3">List of collections :</h1>
    <section>
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'Music:details' album.id %}">{{ album.album_name }}</a></li>
        {% endfor %}
    </ul>
    </section>
    {% else %}
    <h1>Sorry no albums to display :(</h1>
    {% endif %}
</header>
{% endblock %}

</html>