@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
body {
    background : white url("images_css/texture-wallpaper-4.jpg");
}
.navbar{
    border-radius : 0;
}

.navbar-brand{
    font-family: 'Megrim', cursive;
    font-size : xx-large;
}

.navbar-brand img{
    breadth : 60px;
    width: 60px;
}
